<tr>
  <% if hour.today? %>
    <td><em><strong><%= hour.day %></strong></em></td>
  <% else %>
    <td><em><%= hour.day %></em></td>
  <% end %>
  <td><%= hour.opens_at.strftime("%l %p") %></td>
  <td><%= hour.closes_at.strftime("%l %p") %></td>
</tr>
