<tr>
  <% if hour.today? %>
    <td><em><strong><%= hour.day %></strong></em></td>
  <% else %>
    <td><em><%= hour.day %></em></td>
  <% end %>
  <% if hour.working? %>
    <td><%= hour.opens_at.strftime("%l %p") %></td>
    <td><%= hour.closes_at.strftime("%l %p") %></td>
  <% else %>
    <td>CLOSED</td>
    <td></td>
  <% end %>
</tr>
