<div id="about-us">
  <article class="type-system-serif">
    <h1>Krista K’s opened in 1997...</h1>
    <p>...as a family owned and operated ice cream store. After a 2 year venture to find a piece of property in our community, and lots of research, we started our new family business. <span>It was named after our youngest, Krista.</span>  Many family dinners were spent discussing names but we kept going back to Krista K’s. Her three older brother’s names just didn’t have the right sound that her name did so here we are today.</p>
    <p>We are a full service ice cream parlor with indoor, <span>air conditioned</span>, seating along with seating outside to watch the local fire department in action or catch a little league game at the adjacent ball fields. The kids can also enjoy the playground that the local elementary school offers.</p>
    <p>We have <span>homemade ice cream, sherbet, sorbet, yogurt, no sugar added, soft serve ice cream and soft serve Only 8 yogurt</span>. Our menu includes specialty sundaes, fresh made waffle cones and dishes, frappes, ice cream sodas, Big Train drinks, homemade ice cream cookie sandwiches and lots more!</p>
    <p>We also have a <span>candy room</span> where we make our own fudge, have salt water taffy, fresh made roasted cinnamon glazed nuts and shelves of penny style candy. You may catch us making some ice cream, or even smell the aroma of the waffle cones or nuts being roasted.</p>
    <h2>Come in and visit today!</h2>
  </article>
</div>
