<div id="jobs">
  <article class="type-system-serif">
    <h2>You are welcome to download our 2014 application...</h2>
    <p>...if you are interested in joining our team. At this time we are accepting applications but will not know how many openings (if any) we will have until we have finalized working hours with our returning team members.</p>
    <p>You must bring the application in personally and then I will contact you for an interview if we have an opening.</p>
    <p>If you're an outgoing, polite individual who can work well with others and one who enjoys team work, please apply for a future opening.</p>
    <p class="type">NOTE: If you are the one applying for the position, please bring the application in yourself. If a parent brings it in, you won't be considered.</p>
    <%= link_to "Click here to download the application PDF", "/KKs2014Application.pdf", class: "button" %>
  </article>
</div>
