<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="#" class="is-active tab-link">Hard Serve</a>
    <div class="tab-content">
      <p></p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Soft Serve</a>
    <div class="tab-content">
      <p></p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Smoothies</a>
    <div class="tab-content">
      <p></p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Fudge</a>
    <div class="tab-content">
      <p></p>
    </div>
  </li>
</ul>
