<ul class="accordion-tabs">
  <% Flavor::TYPES.each do |type| %>
    <li class="tab-header-and-content">
    <a href="#" class="tab-link">
      <%= type.underscore.split("_").join(" ").titleize %>
    </a>
      <div class="tab-content">
        <ul>
          <%= render @store.flavors_by_name(type) %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <%= link_to "edit flavors", store_flavors_path(@store) %>
<% end %>
